*.csv
*.xls
*.xlsx
/data/
*.xml
/venv/
/.idea/
*.pickle
*.html
*.htm
*.data
*.json
*.json5
*.pdf
*.db
/sqlite/
*.log
/webdriver/
/notebooks/
.env_api
/parsing_services/logs/
/api_services/logs_api
/files/
/.ipynb_checkpoints/
/notebooks/pictures
/notebooks/.ipynb_checkpoints
/logs/
*.wsdl
dev.env
# *.env
*.env-api
*.local
dev.env.local
*.dump
/price_miner_*.sql
/csv_data
__pycache__/
.DS_Store
.vscode
.gitignore
